<div class="h-100 bg-primary d-flex justify-content-center align-items-center">
    <mat-card>
      <mat-card-header class="d-flex justify-content-center mb-3">
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" name="username" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'"/>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <button
            mat-flat-button
            color="primary"
            class="w-100 custom-button"
            [disabled]="!username || !password"
            (click)="login()"
          >
            Entrar
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  
