.custom-form-field {
  width: 100%;

}
.date-form-field{
  width: 100%;
}
.dozens {
  border:1px solid rgb(158, 158, 158);
  padding: 10px;
  column-gap: 15px;
}

mat-form-field {
  width: fit-content;
}

button {
  width: 100px;
  margin: 0 20px;
}

.form {
  margin-top: 10vh;
}

