<div class="container form">
  <h1 class="d-flex justify-content-center m-4">{{ title }}</h1>

  <form [formGroup]="betForm">
    <fieldset class="my-4">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <mat-form-field appearance="outline" class="custom-form-field">
            <mat-label>Número do sorteio</mat-label>
            <input matInput formControlName="raffleNumber" />
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
          <mat-form-field appearance="outline" class="date-form-field">
            <mat-label>Data da Aposta</mat-label>
            <input matInput formControlName="betDate" mask="00/00/0000" />
            <mat-error *ngIf="betForm.controls['betDate'].errors?.['pattern']">
              Data inválida. O formato deve ser dd/mm/aaaa.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <fieldset class="dozens d-flex justify-content-center flex-wrap">
        <legend class="d-flex justify-content-center py-2">Dezenas</legend>
        <ng-container formArrayName="dozens">
          <ng-container
            *ngFor="let dozenForm of dozens.controls; let index = index"
          >
            <div [formGroupName]="index">
              <mat-form-field appearance="outline">
                <mat-label>{{ "Dezena " + (index + 1) }}</mat-label>
                <input matInput formControlName="number" mask="90" />
                <mat-error> Digite um número de 1 a 80 </mat-error>
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="dozens.hasError('duplicateNumbers')">
          <mat-error> As dezenas não podem ser repetidas. </mat-error>
        </ng-container>
        <br />
        <ng-container *ngIf="errorMessage">
          <mat-error>
            {{ errorMessage }}
          </mat-error>
        </ng-container>
      </fieldset>
    </fieldset>
    <div class="d-flex justify-content-center p-2">
      <button mat-flat-button (click)="onCancel()" type="button">Voltar</button>
      <button
        mat-flat-button
        (click)="onSubmit()"
        [disabled]="betForm.invalid"
        color="primary"
        cdkFocusInitial
        type="button"
      >
        Salvar
      </button>
    </div>
  </form>
</div>
