<div class="container my-4">
  <h1 class="d-flex justify-content-center m-4">{{ title }}</h1>

  <form [formGroup]="betForm">
    <fieldset>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Número do sorteio</mat-label>
            <input matInput formControlName="raffleNumber" />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Data da Aposta</mat-label>
            <input matInput formControlName="betDate" mask="00/00/0000" />
            <mat-error *ngIf="betForm.controls['betDate'].errors?.['pattern']">
              Data inválida. O formato deve ser dd/mm/aaaa.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <fieldset class="dozens">
        <legend class="d-flex justify-content-center pb-4">Dezenas</legend>
        <ng-container formArrayName="dozens">
          <ng-container class="row" *ngFor="let dozenForm of dozens.controls; let index = index">
            <div [formGroupName]="index" class="justify-content-between">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'Dezena ' + (index + 1) }}</mat-label>
                <input matInput formControlName="number" mask="90">
                <mat-error>
                  Digite um número de 1 a 80
                </mat-error>
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="dozens.hasError('duplicateNumbers')">
          <mat-error>
            As dezenas não podem ser repetidas.
          </mat-error>
        </ng-container>
        <br>
        <ng-container *ngIf="errorMessage">
          <mat-error>
            {{ errorMessage }}
          </mat-error>
        </ng-container>
      </fieldset>
    </fieldset>
    <button mat-flat-button (click)="onCancel()" type="button">Voltar</button>
    <button mat-flat-button (click)="onSubmit()" [disabled]="betForm.invalid" color="primary" cdkFocusInitial
      type="button">
      Salvar
    </button>
  </form>
</div>